DATABASE_URL=postgresql+psycopg2://your-cloud-db-name:your-cloud-db-password@ep-floral-hill-al3cywaa.c-3.eu-central-1.aws.neon.tech/gastroguide_db?sslmode=require&channel_binding=require
ORS_API_KEY="your-api-key"

SECRET_KEY=your-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

R2_ACCOUNT_ID=your_cloudflare_account_id
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
R2_BUCKET=your_bucket_name
R2_PUBLIC_BASE_URL=https://pub-xxxxxxxxxxxxxxxx.r2.dev